@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TerminaW05-Bold";
  src: local("TerminaW05-Bold"),
    url(./fonts/Termina-W05-Bold.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  background-color: black;
  font-family: "TerminaW05-Bold";
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scr-div::-webkit-scrollbar {
  display: none;
}

.scr-div {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
